body {
  background: #f4f2ec url(./img/fundo.png) repeat-x;
  font: 12px 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

a:link,
a:active,
a:visited {
  color: #af670a;
  text-decoration: none;
}

a:hover {
  color: #227115;
  font-size: 1em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

li {
  list-style: none;
  margin-left: 25px;
  padding: 3px;
}

#container {
  width: 1080px;
  margin: 0 auto;
}

#logo a {
  width: 248px;
  height: 21px;
  text-indent: -999px;
  display: block;
  background: url(./img/logo.png) no-repeat;
}

header {
  padding: 15px 0;
  height: 55px;
  display: flex;
  align-items: center;
}

header nav {
  width: 900px;
}

nav ul {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 1px solid #535858;
}

#conteudo {
  display: flex;
  justify-content: space-between;
}

#principal {
  width: 710px;
}

aside {
  width: 350px;
  background-color: #ebe7dd;
  padding-bottom: 30px;
}

#visita {
  background: #cdc8b1;
  padding: 10px 27px 27px 27px;
  margin-top: 10px;
}

#galeria {
  padding: 0 27px 0 27px;
}

#galeria a {
  display: block;
  background: url(./img/fundo-foto.png) no-repeat;
  padding: 17px 15px 17px 15px;
}

#galeria img {
  margin-left: 2px;
  margin-top: 3px;
}

#principal article {
  margin-left: 25px;
  width: 310px;
  height: 230px;
}

#principal .conteudos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#principal .conteudos ul {
  padding: 0;
}

#expo a:hover {
  margin: 0;
  text-transform: none;
  color: #af670a;
}

h3 {
  color: #227115;
}

h4 {
  color: #86521a;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 0;
}

input {
  border: none;
  outline: none;
  height: 20px;
  width: 80px;
  background-color: #fff;
  font-size: 1em;
}

input#data {
  border: 1px solid #ada484;
}

input#qtd {
  width: 30px;
  border: 1px solid #ada484;
}

input.botao {
  background-color: #9b9271;
  color: #fff;
  width: 100%;
  height: 40px;
  font-size: 1.2em;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

#fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
